.DS_Store
.python-version
__pycache__
.ipynb_checkpoints
FrameNet.ipynb
VerbNet.ipynb
frost_model.zip
combined_back
Random Experiments.ipynb
gpt2/models
Markov Chains.ipynb
poetic_embeddings.300d.txt
py_files/saved_objects/poetic_embeddings.300d.txt
