<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RootDrive" value="C:\" />
    <add key="NlpFolder" value="NLP\" />
    <add key="WordNetFolder" value="WordNet_3\" />
    <add key="OpenNlpModelsFolder" value="OpenNLP\models\" />
    <add key="StanfordParserGrammarFolder" value="StanfordParser\grammar\" />
    <add key="NlpTextsFolder" value="texts\" />
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>
